<!-- <ul>
    <li><a href ="/index/">Home</a></li>
    <li><a href ="/about/">About</a></li>
    <li><a href ="/services/">Services</a></li>
    <li><a href ="/emp/home">Employee Management</a></li>

</ul> -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container-fluid text-white">
      <img src="{% static 'myapp/media/unom.png' %}" alt="UNOM" />
      <!-- <a class="navbar-brand" href="/emp/home/">Employee Management</a> -->
      <button class="navbar-toggler" type="button " data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
          <li class="nav-item ">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'services' %}">Services</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'emphome' %}">LOGIN</a>
          </li>
          
        </ul>
        <form class="d-flex " role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success btn btn-outline-light" type="submit">Search</button>
        </form>
        &nbsp;
        <!-- &nbsp; -->
        &ensp;
        <img src="{% static 'myapp/media/leo.png' %}" alt="dental" />
      </div>
    </div>
  
  </nav>