
  <div class="box-container">
    <div class ="box box1">
      <div class="content">
        <img src ="myapp\\images\\cat1.jpg " width="70px">
        <h1>Cat1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id. Asperiores excepturi pariatur facere, temporibus distinctio voluptates, blanditiis veritatis beatae voluptatem minima inventore voluptate consectetur tenetur corporis quasi eaque commodi?</p>
        <button class="btn btn1">Learn More</button>
      </div>
    </div>
  </div>
  <div class="box-container">
    <div class ="box box1">
      <div class="content">
        <img src ="myapp\\images\\cat1.jpg " width="70px">
        <h1>Cat1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id. Asperiores excepturi pariatur facere, temporibus distinctio voluptates, blanditiis veritatis beatae voluptatem minima inventore voluptate consectetur tenetur corporis quasi eaque commodi?</p>
        <button class="btn btn1">Learn More</button>
      </div>
    </div>
  </div>
  <div class="box-container">
    <div class ="box box1">
      <div class="content">
        <img src ="myapp\\images\\cat1.jpg " width="70px">
        <h1>Cat1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id. Asperiores excepturi pariatur facere, temporibus distinctio voluptates, blanditiis veritatis beatae voluptatem minima inventore voluptate consectetur tenetur corporis quasi eaque commodi?</p>
        <button class="btn btn1">Learn More</button>
      </div>
    </div>
  </div>