<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Update Employee</title>
  </head>
  <body>
    
    {% include 'emp/navbar.html' %}

    <h1 class="text-center my-3">Update employee</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card bg-dark text-white">
                    <div class="card-body">

                        <form action="{% url 'add' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for ="name">Employee name</label>
                                <input id ="name" type="text" class="form-control" placeholder ="Enter emp name" name ="emp_name" value="{{emp.name}}">
                            </div>
                            <div class="mb-3">
                                <label for ="id">Employee id</label>
                                <input id ="id" type="text" class="form-control" placeholder ="Enter emp id" name ="emp_id" value="{{emp.emp_id}}">
                            </div>
                            <div class="mb-3">
                                <label for ="phone">Phone</label>
                                <input id ="phone" type="text" class="form-control" placeholder ="Enter emp phone" name="emp_phone" value="{{emp.phone}}">
                            </div>
                            <div class="mb-3">
                                <label for ="address">Employee Address</label>
                                <textarea name="emp_address" id ="address" classs="form-control" cols ="30" >{{emp.address}}</textarea>
                            </div>
                            <div class="mb-3 form-check">
                                <label for ="working">Working</label>
                                <input value="{{emp.working}}" id="working" type="checkbox" class="form-check-input" name="emp_working">
                            </div>
                            <div class="mb-3">
                                <label for ="Departments">Departments</label>
                                <select value="{{emp.department}}" name="emp_department" id ="Departments" classs="form-control">
                                    <option value ="CSE">Computer Science</option>
                                    <option value ="VFX">Visual Effects</option>
                                    <option value ="UI/UX">User Interface/User Experience</option>

                                </select>

                            </div>
                            <div class="container text-center" >
                                <button class="btn btn-outline-success" >Update Employee</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>